@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Playfair:ital,opsz,wght@0,5..1200,300..900");

@theme {
  --color-primary: #2563eb;
  --color-secondary: #fbbf24;
}
* {
  font-family: Outfit;
}
.play {
  font-family: "Playfair", serif !important;
}
